@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #09141F;
    color: white;
    font-family: Consolas, 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    font-weight: 500;
}
